.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #0f63fe63;
}

.right {
  right: 0;
}

.topic {
  font-family: "Apple Chancery";
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 48px;
  color: black;
  text-align: center;
  font-family: "papyrus";
}

.brief_description {
  text-align: center;
  font-family: "Lucida Handwriting", "Lucide Console", monospace;
  color: black;
}

.profile_image {
  width: 100px;
}

img{
  max-width: 20%;
  max-height: 20%;
  float: center;
  object-fit: scale-down;
}

.social-btns{
  display: flex;
  margin: 2rem 0;
}

.main {
  background: #7796ffc0;
  object-fit: cover;
}
